<div class="container wrap-breadcrumb" *ngIf="detail">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">
         	<a *ngIf="countrySlug" [routerLink]="['/',countrySlug,'applications/all-software.html']">Software</a>
         	<a *ngIf="!countrySlug" [routerLink]="['/applications/all-software.html']">Software</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ bradname }}</li>
      </ol>
  </nav>
</div>

<div *ngIf="detail">
<div *ngIf="is_error==false; else pageNotFound" [innerHTML]="detail"></div>

<div *ngIf="checkSchema !='null'">
    <div [innerHTML]="schema"></div>
</div>

<app-footer *ngIf="is_error==false"  [parenkeyid]="pagekey"></app-footer>

<ng-template #pageNotFound></ng-template>

<app-request-demo> </app-request-demo>

</div>

<div  *ngIf="!detail && getRecord">
<div class="header-height border-bottom"></div>
<section>
    <div class="container my-5 pb-5">
        <h2 class="common-heading red text-center mb-4">Oops... <span _ngcontent-upa-c3="" class="lightRed">The page is no longer here</span></h2>
        <div class="text-center mb-5"><a href="/" class="text-uppercase text-center blue-btn blue-round">Take Me Home</a></div>
        <div class="img-wrap text-center">
            <img src="assets/images/404.png" alt="Merino page not found" class="w-100">
        </div>
    </div>
</section>

</div>


