<div class="container wrap-breadcrumb" *ngIf="name">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">
         	<a *ngIf="countrySlug" [routerLink]="['/',countrySlug,'alliances.html']">Alliances</a>
         	<a *ngIf="!countrySlug" [routerLink]="['/alliances.html']">Alliances</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ name }}</li>
      </ol>
  </nav>
</div>
<section class="second-level-banner mb-md-5 move-up delay-0" *ngIf="name">
    <div class="img-wrap position-relative">
        <img src="assets/images/alliances/banner.jpg" alt="Merino Industries" class="w-100">
    </div>
</section>
<!-- {{ detail?.image }} -->
<section class="alliances-content" id="alliancesContent" *ngIf="name">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-heading mb-0 lightRed">Alliances</h3>
                <span class="heading-bottom-line redBg move-right mb-5"></span>
                <img class="mb-4" src="{{ serverUrl}}alliance/image/{{image}}" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">

            <div [innerHTML]="detail"></div>

            </div>

        </div>
    </div>

<app-know-more> </app-know-more>
<app-request-demo> </app-request-demo>

</section>

<div  *ngIf="!name">
<div class="header-height border-bottom"></div>
<section>
    <div class="container my-5 pb-5">
        <h2 class="common-heading red text-center mb-4">Oops... <span _ngcontent-upa-c3="" class="lightRed">The page is no longer here</span></h2>
        <div class="text-center mb-5"><a href="/" class="text-uppercase text-center blue-btn blue-round">Take Me Home</a></div>
        <div class="img-wrap text-center">
            <img src="assets/images/404.png" alt="Merino page not found" class="w-100">
        </div>
    </div>
</section>

</div>

