<div class="header-height border-bottom"></div>

    <div class="container privacy-notice mt-5">
        <p class="font-500 size-20 m-0">1. Introduction</p>
        <p class="size-16 mb-3">Merino Consulting Services is an IT Consulting & Enterprise Software Solutions Company
            with a strong presence
            in USA, Europe, UAE, Hong Kong, Malaysia, Singapore, and India. </p>
        <p class="size-16 mb-3">We understand that you are aware of and care about your own personal privacy interests,
            and we take that
            seriously.
            This Privacy Notice describes Merino Services' policies and practices regarding its collection and use of
            your personal data, and sets
            forth your privacy rights. We recognize that information privacy is an ongoing responsibility,
            and so we will from time to time update this Privacy Notice as we undertake new personal data practices or
            adopt new privacy policies.
            This is all part of our endeavours to remain compliant to the European GDPR legislation.
        </p>
        <p class="size-16 mb-3"> In this Notice, "Personal Data" means information which relates to an individual and
            which identifies that
            individual, either directly or indirectly (together with other information that is reasonably likely to come
            into Merino Services' possession), such as your name, email address or telephone number. </p>
        <p class="size-16 mb-3">If you have any questions regarding the processing of your personal information, please
            contact us at <a href="mailto:office@merinoservices.com">office@merinoservices.com</a> or your usual Merino
            Services
            representative. </p>
        <p class="font-500 size-20 m-0">2. What we need</p>
        <p class="size-16 mb-3"> Our Personal Data Protection Policy governs the use and storage of your data. You can
            see our <a href="/assets/htdocs/personalData.pdf" target="_blank">Personal Data Protection Policy.</a> </p>
        <p class="size-16 mb-3">Merino Consulting Services is a Controller of the personal data you (data subject)
            provide us. We collect the
            following types of personal data from you: </p>

        <div class="row">
            <div class="col-md-3">
                <p class="font-500 size-18 mb-0"> Contact/user details</p>
                <ul class="arrowBullet  mt-0">
                    <li> Name</li>
                    <li> Address(es)</li>
                    <li> Email address(es)</li>
                    <li> Phone number(s)</li>
                    <li> Website(s) / Link(s)</li>
                    <li> Position(s)</li>
                    <li> Photograph</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="font-500 size-18 mb-0">Company details</p>
                <ul class="arrowBullet">
                    <li>Name</li>
                    <li> Domain</li>
                    <li>Description</li>
                    <li>Address(es)</li>
                    <li> Email address(es)</li>
                    <li>Phone number(s)</li>
                    <li> Website(s) / Link(s)</li>
                    <li> Logo</li>
                    <li> Size (number of employees)</li>
                </ul>
            </div>
            <div class="col-md-3">
                <p class="font-500 size-18 mb-0 mt-2">Website Tracking data</p>
                <ul class="arrowBullet  mt-0">
                    <li> Device data</li>
                    <li> IP address</li>
                    <li> Type: webpage, forward, email open</li>
                    <li> URL</li>
                    <li>Date and time</li>
                    <li> Duration</li>

                </ul>
            </div>
            <div class="col-md-3">
                <p class="font-500 size-18 mb-0 mt-2">Communication data</p>
                <ul class="arrowBullet  mt-0">
                    <li> Email data</li>
                    <li> Attachment/file data</li>
                    <li> Calendar data</li>
                    <li> Phone data</li>
                    <li> Last interaction</li>

                </ul>
            </div>
        </div>

        <p class="font-500 size-20 m-0">3. Why we need it </p>
        <p class="size-16 mb-3">Generally, you can visit Merino Services websites without providing any Personal Data
            about yourself.
            However, in order to access some parts of our websites, we may need to collect Personal Data from you. For
            instance, for downloading certain documents or registering for a webinar. Providing Personal Data to us in
            these events is voluntary. If you do not provide Personal Data to us, then you will not be able to benefit
            from the respective functionality offered by our websites, such as communication, downloading of documents
            or recruitment. The purposes, for which your Personal Data is collected, are described below.</p>
        <ul class="arrowBullet  mt-0">
            <li><strong>Marketing events: </strong>we store the data you provide us when you register for a Marketing
                Event like Webex presentations, customer meetings, newsletters and such so we can offer you access to
                these services.</li>
            <li> <strong>Website visit:</strong> we store the data you provide us when you visit our website, download
                files from our website or when you register for an event on our website so we can offer you access to
                these services and optimize our website.</li>
            <li> <strong>Consultancy, Support and Training Services:</strong> we store the data you provide us when you
                engage with Merino for consultancy and training services so we can provide you these services.</li>
            <li> <strong>Visits to our Offices: </strong>we store the data you provide us when you visit an office to
                allow you access and for security purposes</li>
            <li> <strong>Email:</strong> we store the data that you provide us when you send us an email so we can reply
                to you with requested information.</li>
            <li> <strong>Purchase and Sales transactions:</strong> we store your data when we buy from you or when you
                buy from us in order to process the transaction with our ERP systems.</li>

        </ul>
        <p class="size-16 mb-3">When providing your Personal Data on our website, you acknowledge that you have the
            necessary authorization
            and consent to disclose personal data to be used by Merino Services as described in this Notice.</p>

        <p class="font-500 size-20 m-0">4. What we do with it </p>
        <p class="size-16 mb-3">Your personal data is processed by Merino Consulting Services BV located in The
            Netherlands. Hosting and
            storage of your data takes place in the cloud by a certified provider hosted in Europe and the Merino
            Services ERP System hosted in the Merino Data Center in India. </p>
        <p class="size-16 mb-3">No third party providers have access to your data, unless specifically required by law.
        </p>
        <p class="font-500 size-20 m-0"> 5. How long we keep it </p>
        <p class="size-16 mb-3">We keep your documents for a time period documented in our Data Retention Policy. We
            keep your documents no
            longer than required by law. When there is no legal requirement we will not keep your data longer than
            strictly required to support our processes. After this period, your personal data will be irreversibly
            destroyed. Any personal data held by us for marketing and service update notifications will be kept by us
            until such time that you notify us that you no longer wish to receive this information. Please see our <a
                href="/assets/htdocs/dataRetention.pdf" target="_blank">Data Retention Policy</a> for more information on our
            personal data retention schedule. </p>
        <p class="font-500 size-20 m-0"> 6. Disclosure of personal data </p>

        <p class="font-500 size-20 mb-0 mt-2"> Merino Services may only disclose your personal information outside of
            Merino
            Services:</p>
        <ul class="arrowBullet  mt-0">
            <li>Where the disclosure is necessary to fulfil your request and involves a third party organization with
                which Merino Services has a relationship; or</li>
            <li> When explicitly requested by you, the site visitor; or</li>
            <li> As required by a court order or any other legal or regulatory requirement.</li>

        </ul>
        <p class="size-16 mb-3">Merino Services may use external service providers to assist with, for example,
            information technology and
            other administrative support services to operate our site.</p>
        <p class="font-500 size-20 m-0">7. What are your rights? </p>

        <p class="size-16 mb-3">Should you believe that any personal data we hold on you is incorrect or incomplete, you
            have the ability to
            request to see this information,
            rectify it or have it deleted. Your right to erasure entails that it is your right to ask us that your
            personal data be erased when it’s no
            longer needed or if processing it is unlawful. Please contact us through our Data Subject Access Request
            Form, which can be downloaded <a href="/assets/htdocs/dataSubject.pdf" target="_blank">here</a> from our website or
            requested by mail from our office at <a
                href="mailto:office@merinoservices.com">office@merinoservices.com</a>. </p>
        <p class="size-16 mb-3">In the event that you wish to complain about how we have handled your personal data,
            please contact Data
            Protection Officer at <a href="mailto:DPO@merinoservices.com">DPO@merinoservices.com</a> or in writing at
            Merino Services BV, Stationsstraat 17, 5038 EA in Tilburg, The Netherlands. Our Data Protection Officer will
            then look into your complaint and work with you to resolve the matter. </p>
        <p class="size-16 mb-3">If you still feel that your personal data has not been handled appropriately according
            to the law, you can
            contact the Dutch Data Protection Authority (<a href="https://autoriteitpersoonsgegevens.nl/en"
                target="_blank" rel="nofollow">https://autoriteitpersoonsgegevens.nl/en</a>) and file a complaint with them. </p>
        <p class="size-16 mb-3">&nbsp;</p>
    </div>