<div class="container wrap-breadcrumb">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Career</li>
      </ol>
  </nav>
</div>

    <!-- Start Second level Banner -->
    <section class="second-level-banner">
      <div class="img-wrap position-relative">
          <img src="/assets/images/about/career-banner.jpg" alt="" class="w-100">
      </div>
  </section>
  <!-- End Second level Banner -->

  <!-- Star work Merino? -->
  <section class="work-merino-container py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h3 class="common-heading mt-3 lightRed">Working at Merino Services</h3>
                  <span class="heading-bottom-line redBg mb-5"></span>
              </div>
          </div>

          <div class="row text-center">

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Employee DNA.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Employee DNA</h5>
                      <p class="size-16 font-300">Merinoites (our employees) are a perfect blend of domain expertise,
                          hard-work and innovation.
                          Always eager to help, they know the power and importance of relationships.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Work Culture.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Work Culture</h5>
                      <p class="size-16 font-300">We bring together experts in the field thereby creating a culture
                          that is conducive to
                          learning and growth. We take pride in nurturing our employees' ideas.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Management Approach.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Management Approach</h5>
                      <p class="size-16 font-300">At Merino, we believe in People over Procedures. Our managers
                          achieve performance through
                          better employee engagement.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4 move-up delay-1">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Customer Orientation.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Customer Orientation</h5>
                      <p class="size-16 font-300">Customers rule the market! We constantly strive to surpass customer
                          expectations by
                          delivering best-quality solutions and build trust-based partnerships.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4 move-up delay-2">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Excellence.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Excellence</h5>
                      <p class="size-16 font-300">Merino Group has always been amongst the industry leaders and set
                          benchmarks of performance
                          in the industry. To walk this path, we invest in ongoing improvement of people, processes
                          and products.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4 move-up delay-3">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Respect.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Respect</h5>
                      <p class="size-16 font-300">We value our employees and respect each employee's individuality.
                          Our work environment
                          protects personal dignity of every individual with zero tolerance for any form of
                          discrimination or harassment.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Moral Fibre.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Moral Fibre</h5>
                      <p class="size-16 font-300">A common moral fibre thread runs through our entire organization. We maintain the highest level of integrity and follow the most ethical approaches in our dealings & transactions.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Fairness & Transparency.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Fairness & Transparency</h5>
                      <p class="size-16 font-300">We at Merino Services recognize the importance of fairness and transparency for achieving a trust-based culture. This culture resultantly raises the performance standards through greater employee commitment and teamwork.</p>
                  </div>
              </div>

              <div class="col-md-4 px-2 my-4">
                  <div class="bor p-3">
                      <img class="mb-3" src="assets/images/about/About/Constant Growth.svg" alt="">
                      <h5 class="size-20 my-3 font-500">Constant Growth</h5>
                      <p class="size-16 font-300">Our employees get to enjoy the thrill of working in a fast-paced company as well as grow through exposure gained by working with the leading experts across the world.</p>
                  </div>
              </div>

          </div>

          <!-- <div class="row my-3" id="loadMore">
              <div class="col-sm-12 text-center"><span class="load-more">More <i>+</i></span></div>
          </div> -->


      </div>
  </section>
  <!-- End work Merino? -->

  <!-- Star Current Openings -->
  <section class="opening-container py-5" id="openingContainer" *ngIf="jobs && jobs.length">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h3 class="common-heading mt-3 lightRed move-up delay-0">Current Openings</h3>
                  <span class="heading-bottom-line redBg move-right mb-5"></span>
              </div>
          </div>

          <div class="row">

            {{ countrySlug}}
              <div class="col-md-6 py-3 move-left" *ngFor="let job of jobs">
                  <label for="{{ job._id }}">
                      <input type="radio" name="opening" id="{{ job._id }}" value="">
                      <h4 class="size-24 blue font-500">{{ job.name }}</h4>

                      <p class="mb-3"><strong class="font-400 size-16">Positions:</strong> {{ job.position }}</p>
                      <p class="size-16"><strong class="font-500">Location:</strong> {{ job.location }}</p>
                      <p class="size-16"><strong class="font-500">Experience:</strong> {{ job.experience }}</p>
                      <p class="size-16"><strong class="font-500">CTC:</strong> {{ job.ctc }}</p>

                      <p class="size-16"><strong class="font-500">Employment Type:</strong> {{ job.employment_type }}</p>
                      <p class="size-16"><strong class="font-500">Responsibility:</strong></p>
                         <div [innerHTML]="job.responsibility"> </div>

                      <p class="my-4">

                        <!-- <a href="apply-online.html" class="text-center blue-btn px-3 size-14">Apply Online</a> -->
                        <a *ngIf="countrySlug" href="javascript:void(0)" [routerLink]="[countrySlug,'career',job._id,'apply-online.html']"  class="text-center blue-btn px-3 size-14">Apply Online</a>
                        <a *ngIf="!countrySlug" href="javascript:void(0)" [routerLink]="['/career',job._id,'apply-online.html']"  class="text-center blue-btn px-3 size-14">Apply Online</a>


                      </p>
                      <div class="plus-btn mt-2">+</div>
                  </label>
              </div>



          </div>

      </div>
  </section>
  <!-- End Current Openings -->

  <app-know-more [hideOption]="'career'"> </app-know-more>

  <app-request-demo> </app-request-demo>

