    <!-- Start Second level Banner -->
    <section class="second-level-banner pb-4 mb-5">
      <div class="img-wrap position-relative">
          <img src="assets/images/news-event/banner1.jpg" alt="Merino Industries" class="w-100">

      </div>
  </section>
  <!-- End Second level Banner -->

  <div class="container pb-4 mb-4" id="PastWebinar">
      <div class="row">
          <div class="col-md-12 size-22 my-5 font-400">
           <!--  Thank you for submitting your details. <br/>We will get back to you soon. -->
           <!-- {{message}} -->

           <div [innerHTML]="message"></div>
          </div>

      </div>
  </div>
