

<div *ngIf="!is_error">
<!-- Start Second level Banner -->
<section class="second-level-banner pb-4">
    <div class="img-wrap position-relative">
        <img src="{{ serverUrl}}webinar/{{ detail?.banner }}" alt="Merino Industries" class="w-100">

    </div>
</section>

<div class="container wrap-breadcrumb" *ngIf="!is_error" style="position: relative;left:inherit;top:inherit;">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">
            <a *ngIf="countrySlug"  [routerLink]="['/',countrySlug,'/','webinar','list.html']">Events & Webinar</a>
            <a *ngIf="!countrySlug" [routerLink]="['/webinar','list.html']">Events & Webinar</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{ detail?.title }}</li>
      </ol>
  </nav>
</div>

<!-- End Second level Banner -->

<div class="container pb-4 mb-4" id="PastWebinar" *ngIf="!is_error">
    <div class="row">
        <div class="col-sm-7">
            <div class="">
                <p class="blue mb-2 font-400">Upcoming Webinar</p>
                <h4 class="m-0 size-20 mb-3 font-500 text-capitalize">{{  detail?.title }}</h4>

                <h5 class="mb-1" *ngIf="detail?.services && detail?.services.length">
                    Service:
                    <span class="font-400" *ngFor="let liveService of detail.services;let last = last">{{  liveService.name }}<span class="font-400" *ngIf="!last">, </span> </span>
                </h5>

                <h5 class="mb-1" *ngIf="detail?.softwares && detail?.softwares.length">
                    Softwares:
                    <span class="font-400" *ngFor="let liveService of detail.softwares;let last = last">{{  liveService.name }}<span class="font-400" *ngIf="!last">, </span> </span>
                </h5>

                <h5 class="mb-1" *ngIf="detail?.industries && detail?.industries.length">
                    Industries:
                    <span class="font-400" *ngFor="let liveService of detail.industries;let last = last">{{  liveService.name }}<span class="font-400" *ngIf="!last">, </span> </span>
                </h5>


                <div class="row my-4">
                    <div class="col-auto">
                        <p class="font-400 size-16 d-flex align-items-center justify-content-around m-0"><i class="fas fa-calendar-alt blue mr-2"></i>{{ detail?.date | date:'dd MMMM,yyyy'}}</p>
                    </div>
                    <div class="col-auto">
                        <p class="font-400 size-16 d-flex align-items-center justify-content-around m-0"><i class="far fa-clock blue mr-2"></i>{{  detail?.time }} -{{  detail?.endtime }}
                            {{  detail?.timezone.abbr }}</p>
                    </div>
                </div>

                <p class="font-400 mb-4">{{  detail?.description }}</p>


                <div *ngIf="detail?.speakers && detail?.speakers.length">
                    <p><strong class="font-600 size-18">Speaker(s):</strong></p>
                    <ul class="m-0 p-0 d-flex w-100 mb-5">
                        <li class="mr-4" *ngFor="let liveSpeakers of detail.speakers">

                            <img class="mr-3 speaker-img border" *ngIf="liveSpeakers.image"
                                src="{{ serverUrl}}webinar/speaker/{{ liveSpeakers.image }}" alt="">
                            <img class="mr-3 speaker-img border" *ngIf="!liveSpeakers.image"
                                src="{{ serverUrl}}webinar/speaker/no-img.jpg" alt="">
                            <p class="font-400 m-0 size-16"><strong
                                    class="font-500 size-18">{{ liveSpeakers.name }}</strong>
                                {{ liveSpeakers.designation }}</p>
                        </li>

                    </ul>
                </div>

            </div>
        </div>


        <div class="col-md-5 mt-5 mt-md-0">
            <div class="form-container p-3 p-lg-4">
                <h2 class="text-center mt-0 mb-4">Register Now</h2>
                <span *ngIf="setMessage" class="text-danger">Required All Field</span>
                <form (ngSubmit)="onSubmit(regForm)" #regForm="ngForm">

                    <input type="hidden" name="webinar_id" [ngModel]="detail?._id">


                <div *ngIf="formData">
                <div *ngIf="formData.formdata.length > 0; else loading">
                    <div class="form-group" *ngFor="let field of formData.formdata; let i = index">

                      <div *ngIf="field.type == 'text'">
                          <input 
                          type="{{field.type}}" 
                          name="{{field.key}}" 
                          ngModel
                          required
                          #name="ngModel"  
                          class="form-control" 
                          placeholder="{{field.title}}">
                          <span *ngIf="!name.valid && name.touched" class="text-danger">Field {{field.title}} is required</span>
                      </div>

                    <div *ngIf="field.type == 'email'">
                        <input 
                        type="{{field.type}}" 
                        name="{{field.type}}" 
                        ngModel
                        required
                        email
                        #email="ngModel"  
                        class="form-control" 
                        placeholder="{{field.title}}">
                        <span *ngIf="!email.valid && email.touched && email.errors.required" class="text-danger">Field {{field.title}} is required</span>
                        <span *ngIf="!email.valid && email.errors.email" class="text-danger">Please Enter valid Email</span>
                    </div>

                    <div *ngIf="field.type == 'number'">
                       <div class="row"> 
                       <div class="col-sm-6">

                        <select name="code" ngModel required #code="ngModel" [(ngModel)]='nrSelect' (ngModelChange)="dataChanged($event)" style="font-size: 12px;">
                            <!-- <option value="" [disabled]="true">Select </option> -->
                            <option *ngFor="let countryVal of countries" value="{{countryVal.code}}">
                                {{countryVal.name}} (+{{ countryVal.code }}) 
                            </option>
                        </select> 
                         <span *ngIf="!code.valid && code.touched" class="text-danger"></span>
                       </div> 
                       
                       <div class="col-sm-6" style="padding: 0px 16px 0px 0px;">
                        <input 
                        type="{{field.type}}" 
                        name="{{field.key}}" 
                        ngModel
                        required
                        #numb="ngModel" 
                        maxlength="10" 
                        class="form-control" 
                        placeholder="{{field.title}}">
                        <span *ngIf="!numb.valid && numb.touched" class="text-danger">Field {{field.title}} is required</span>
                        </div>
                        </div>
                    </div>

                      <div *ngIf="field.type == 'textarea'">
                        <textarea 
                        name="{{field.key}}"
                        ngModel
                        required
                        #desc="ngModel" 
                        placeholder="{{field.title}}" 
                        class="form-control"></textarea>
                        <span *ngIf="!desc.valid && desc.touched" class="text-danger"> Field {{field.title}} is required</span>
                      </div>

                    </div><!--for loop-->
    
                    <div *ngIf="formData.formdata[0].country == '1'">
                        <div class="form-group" *ngIf="countriesDetail">
                        <select name="country" ngModel #country="ngModel" required class="form-control">
                            <option value=""> Select Country</option>
                            <option *ngFor="let countryValue of countriesDetail.formdata" [value]="countryValue.name">
                                {{countryValue.name}}</option>       
                        </select>
                        </div>

                        <div class="form-group" *ngIf="!countriesDetail">
                            <select name="country" ngModel #country="ngModel" required class="form-control">
                                <option value="" disabled> Select Country</option>
                            </select>
                            <span *ngIf="!country.valid && country.touched">Field country is required</span>
                        </div>

                        
                    </div>
                    

                </div><!--if data-->
            </div> 


    <!-- When form not created by the webinar auther then show default form show -->

    <ng-template #loading>
            <div class="form-group">
              <input 
              type="text" 
              name="name" 
              ngModel
              required
              #name="ngModel"  
              class="form-control" 
              placeholder="Name">
             <span *ngIf="!name.valid && name.touched">Field name required</span> -->
            </div>

            <div class="form-group">
            <input 
            type="text" 
            name="email" 
            ngModel
            required
            email
            #email="ngModel"  
            class="form-control" 
            placeholder="Email">
            <span *ngIf="!email.valid && email.touched && email.errors.required">Field email is required</span>
            <span *ngIf="!email.valid && email.errors.email" class="text-danger">Please Enter valid Email</span>
            </div>

            <div class="form-group"> 
           <div class="row"> 
           <div class="col-sm-3">
            <select name="code" ngModel required #code="ngModel" (ngModelChange)="dataChanged($event)" style="font-size: 12px;">
                <option value="">Code</option>
                <option *ngFor="let countryVal of countries" [ngValue]="countryVal.code">
                    {{ countryVal.code }}</option>
            </select> 
             <span *ngIf="!code.valid && code.touched">Field Country code is required</span>
           </div> 
           
           <div class="col-sm-9" style="padding: 0px 16px 0px 0px;">
            <input 
            type="number" 
            name="contact" 
            ngModel
            required
            #numb="ngModel" 
            maxlength="10" 
            class="form-control" 
            placeholder="Contact">
            <span *ngIf="!numb.valid && numb.touched">Field number is required</span>
            </div>

            </div><!--row-->
            </div>
       
            <div class="form-group">
            <textarea 
            name="query"
            ngModel
            required
            #desc="ngModel" 
            placeholder="Query" 
            class="form-control"></textarea>
            <span *ngIf="!desc.valid && desc.touched">Field Query is required</span>
            </div>

            <div class="form-group" *ngIf="countriesDetail">
            <select name="country" ngModel #country="ngModel" required class="form-control">
                <!-- <option value=""> Select Country</option> -->
                <option *ngFor="let countryValue of countriesDetail.formdata" [value]="countryValue.name">
                    {{countryValue.name}}</option>       
            </select>
            </div>

            <div class="form-group" *ngIf="!countriesDetail">
                <select name="country" ngModel required class="form-control">
                    <option value="" disabled> Select Country</option>
                </select>
            </div>
        
        </ng-template>




                  <!-- <input type="hidden" name="chekCaptcha" ngModel #chekCaptcha="ngModel"  value="{{captcha}}"> -->

                    <div class="form-group position-relative wrap-captcha">
                        <input type="text" class="form-control" placeholder="Enter captcha here"
                        name="confirmCaptcha"
                        [(ngModel)]="confirmCaptcha"
                        ngModel
                        required
                        #captchCH="ngModel">

                        <span *ngIf="captchCH.touched && confirmCaptcha != captcha" class="text-danger"> 
                            captcha not match 
                        </span>
                        <span class="captcha-text">{{ captcha }}</span>
                        <a role="button" (click)="refCaptcha()" title="Refresh Captcha"><i class="fas fa-sync"></i></a>

                    </div>

                   


                    <div class="form-group">
                        <p class="size-12">We are strongly committed to protecting the privacy of personal data
                            which safe-guards our valuable clients, employees and other individuals. In preparation for
                            EU's General Data Protection Regulation (GDPR) that being now enforced; we would like to
                            verify that you are happy to continue receiving sales and marketing communication emails
                            from the our network. By giving your consent, you will then receive relevant sales and
                            marketing communications emails, publications, industry newsletters and invitations from us.
                            You are also being provided with an opportunity to Opt-Out of receiving communications from
                            us within this email. Please read our <a [routerLink]="['/','privacy-policy.html']" target="_blank">“Privacy Notice”</a>
                            that provides further information about how we use, care and protect your personal data.
                        </p>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" name="confirm" required="required" ngModel class="form-control"
                            [ngClass]="{ 'is-invalid': submitted  }" class="form-check-input"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Yes I Confirm</label>
                    </div>

                    <div class="form-group g-recaptcha" data-sitekey="6LcxJ20UAAAAADk7NpEVOmcqCerLBXV1O3XLjtfG">
                    </div>
                    <button type="submit"
                        class="form-submit blue-btn blue-round px-4 py-2 text-uppercase size-16">Submit</button>
                    <!-- <small class="form-text lightRed">* fields are mandatory.</small> -->
                </form>
            </div>
        </div>

    </div>
</div>

<app-request-demo> </app-request-demo>

</div>



<div  *ngIf="is_error">
<div class="header-height border-bottom"></div>
<section>
    <div class="container my-5 pb-5">
        <h2 class="common-heading red text-center mb-4">Oops... <span _ngcontent-upa-c3="" class="lightRed">The page is no longer here</span></h2>
        <div class="text-center mb-5"><a href="/" class="text-uppercase text-center blue-btn blue-round">Take Me Home</a></div>
        <div class="img-wrap text-center">
            <img src="assets/images/404.png" alt="Merino page not found" class="w-100">
        </div>
    </div>
</section>

</div>
