<section class="other-industry py-2 py-sm-5">
  <div class="container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="common-heading mb-sm-5 lightRed text-center">Know More</h2>
      </div> <!-- {{hideOption}} -->
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='merino-group'}"> 
        <a  *ngIf="countrySlug"  [routerLink]="[countrySlug,'about-us.html']" fragment="merino-group"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Merino Group</a>
        <a *ngIf="!countrySlug" [routerLink]="['/about-us.html']" fragment="merino-group"  ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Merino Group</a>
      </div>
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='company'}">
        <a  *ngIf="countrySlug" [routerLink]="[countrySlug,'about-us.html']"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>The Company</a>
        <a *ngIf="!countrySlug" [routerLink]="['/about-us.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>The Company</a> 
      </div>
      <div class="col-md-4"  [ngClass]="{'d-none': hideOption=='director'}">
        <a *ngIf="countrySlug" [routerLink]="[countrySlug,'director-message.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Director's Message</a>
        <a *ngIf="!countrySlug" [routerLink]="['/director-message.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Director's  Message</a>

      </div>
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='management-team-container'}">
        <a *ngIf="countrySlug" [routerLink]="[countrySlug,'director-message.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Management</a>

        <a *ngIf="!countrySlug" [routerLink]="['/director-message.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Management</a>

      </div>
      <div class="col-md-4"  [ngClass]="{'d-none': hideOption=='global-presence'}">
        <a *ngIf="countrySlug" [routerLink]="[countrySlug,'global-presence.html']" fragment="globalContainer"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Global Presence</a>

        <a *ngIf="!countrySlug" [routerLink]="['/global-presence.html']" fragment="globalContainer"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Global Presence</a>
      </div>
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='vision-mission'}">
        <a *ngIf="countrySlug" [routerLink]="[countrySlug,'global-presence.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Vision &amp; Mission</a>
        <a *ngIf="!countrySlug" [routerLink]="['/global-presence.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Vision &amp; Mission</a>
      </div>
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='career'}">
        <a *ngIf="countrySlug" [routerLink]="[countrySlug,'careers.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Careers</a>
        <a *ngIf="!countrySlug" [routerLink]="['/careers.html']" ><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Careers</a>

      </div>
      <div class="col-md-4" [ngClass]="{'d-none': hideOption=='alliances'}">
        <a  *ngIf="countrySlug" [routerLink]="[countrySlug,'alliances.html']"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Alliances</a>
        <a  *ngIf="!countrySlug" [routerLink]="['/alliances.html']"><i class="fas fa-long-arrow-alt-right mt-1 mr-2"></i>Alliances</a>
      </div>
  </div>
</div>
</section>
