<!-- Start Second level Banner -->
<div *ngIf="detail" [innerHTML]="detail"></div>
<app-know-more [hideOption]="typeKnowMore"> </app-know-more>
<app-request-demo> </app-request-demo>




<!-- Start Second level Banner -->

<section class="second-level-banner">
  <div class="img-wrap position-relative">
    <img src="assets/images/about/vision-mission-banner.jpg" alt="" class="w-100">
    <div class="vision-banner-content">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-6 h-100">
            <div class="vision-mission-block vision-block text-center move-left">
              <h2 class="text-uppercase move-up delay-2">Vision</h2>
              <p class="white size-18 px-2 move-up delay-3">To continue to expand across the world and set new
                industry benchmarks through a greater focus on achieving excellence,
                competitiveness, and innovation. We strive to achieve the goal by
                consistently leveraging our strong domain expertise, adaptable processes,
                world-class R & D, and highly competent people.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="vision-mission-block mission-block text-center move-right">
              <h2 class="text-uppercase move-up delay-2">Mission</h2>
              <p class="white size-18 px-2 move-up delay-3">Our mission is to be a valuable technology partner
                to our esteemed clients across the world and help them to leverage
                technology and achieve high operational efficiency, reduced cost, and
                organizational growth.We prepare our clients to be future-ready
                technologically and equip them to combat future challenges.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Second level Banner -->

<section id="global-presence" class="pb-2">&nbsp;</section>
<!-- Star Why Merino? -->
<section class="global-container my-5" id="globalContainer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="common-heading red move-up delay-0">Global <span class="lightRed">Presence</span></h3>
        <span class="heading-bottom-line redBg move-right mb-5"></span>
        <p class="move-up delay-1">Merino Services has a global footprint. The map below shows a few of our
          project-implementations across the world.</p>
      </div>
    </div>
  </div>
</section>
<!-- End Why Merino? -->

<div class="globalPresence move-up delay-4">
  <img src="assets/images/about/map3.png" alt="map icon">

  <div id="1" class="g1"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="1_o" class="location_txt">Poland</div>
  </div>
  <div id="2" class="g2"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="2_o" class="location_txt" style="display: none;">France</div>
  </div>
  <div id="3" class="g3"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="3_o" class="location_txt" style="left:108%; top:0">Denmark</div>
  </div>
  <div id="4" class="g4"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="4_o" class="location_txt" style="left:-275%; top:16%">Germany</div>
  </div>
  <div id="5" class="g5"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="5_o" class="location_txt">Italy</div>
  </div>
  <div id="6" class="g6"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="6_o" class="location_txt">Spain</div>
  </div>
  <div id="7" class="g7"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="7_o" class="location_txt">Greece</div>
  </div>
  <div id="8" class="g8"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="8_o" class="location_txt">Turkey</div>
  </div>
  <div id="9" class="g9"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="9_o" class="location_txt">Russia</div>
  </div>
  <div id="10" class="g10"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="10_o" class="location_txt">UK</div>
  </div>
  <div id="11" class="g11"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="11_o" class="location_txt">Norway</div>
  </div>
  <div id="12" class="g12"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="12_o" class="location_txt">Canada</div>
  </div>
  <div id="13" class="g13"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="13_o" class="location_txt">US</div>
  </div>
  <div id="14" class="g14"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="14_o" class="location_txt" style="left:-26%">South Africa</div>
  </div>
  <div id="15" class="g15"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="15_o" class="location_txt">Chile</div>
  </div>
  <div id="16" class="g16"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="16_o" class="location_txt" style="left:-26%">New Zealand</div>
  </div>
  <div id="17" class="g17"><img src="assets/images/about/pin-red.png" alt="location icon">
    <div id="17_o" class="location_txt">Australia</div>
</div>
<div id="18" class="g18">
  <img class="mob-none" src="assets/images/about/pin-blue.png" alt="location icon">
  <img class="desk-none" src="assets/images/about/pin-red.png" alt="location icon">
  <div id="18_o" class="location_txt">India</div>
</div>
<div id="19" class="g19"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="19_o" class="location_txt">Singapore</div>
</div>
<div id="20" class="g20"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="20_o" class="location_txt">UAE</div>
</div>
<div id="21" class="g21"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="21_o" class="location_txt">Korea</div>
</div>
<div id="22" class="g22"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="22_o" class="location_txt">China</div>
</div>
<div id="23" class="g23"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="23_o" class="location_txt">Japan</div>
</div>
<div id="24" class="g24"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="24_o" class="location_txt">Kenya</div>
</div>
<div id="25" class="g25"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="25_o" class="location_txt">Mexico</div>
</div>
<div id="26" class="g26"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="26_o" class="location_txt">Kuwait</div>
</div>
<div id="27" class="g27"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="27_o" class="location_txt">Saudi&nbsp;Arabia</div>
</div>
<div id="28" class="g28"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="28_o" class="location_txt">Bahrain</div>
</div>
<div id="29" class="g29"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="29_o" class="location_txt">Oman</div>
</div>
<div id="30" class="g30"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="30_o" class="location_txt">Qatar</div>
</div>
<div id="31" class="g31"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="31_o" class="location_txt">Netherlands</div>
</div>
<div id="32" class="g32"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="32_o" class="location_txt">Malaysia</div>
</div>
<div id="33" class="g33"><img src="assets/images/about/pin-red.png" alt="location icon">
  <div id="33_o" class="location_txt">Thailand</div>
</div>
