<div class="header-height border-bottom"></div>
<section>
    <div class="container my-5 pb-5">
        <h2 class="common-heading red text-center mb-4">Oops... <span _ngcontent-upa-c3="" class="lightRed">The page is no longer here</span></h2>
        <div class="text-center mb-5"><a href="/" class="text-uppercase text-center blue-btn blue-round">Take Me Home</a></div>
        <div class="img-wrap text-center">
            <img src="assets/images/404.png" alt="Merino page not found" class="w-100">
        </div>
    </div>
</section>