<!-- Start Request Demo -->
<section class="request-demo mt-sm-4 mt-md-5" *ngIf="showFooterForm==true" id="reqdemo">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-5 service-form">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group mb-2 position-relative">
                        <input type="text" formControlName="name"
                            [ngClass]="{ 'is-invalid': (submitted || f.name.touched ) && f.name.errors }"
                            class="form-control" placeholder="Name">
                        <div *ngIf="(submitted || f.name.touched) && f.name.errors" class="invalid-feedback">
                            <span *ngIf="f.name.errors.required">First Name is required</span>
                        </div>
                    </div>
                    <div class="form-group mb-2 position-relative">
                        <input type="email" type="email" formControlName="email"
                            [ngClass]="{ 'is-invalid': (submitted || f.email.touched )  && f.email.errors }"
                            class="form-control" placeholder="Email">
                        <div *ngIf="(submitted || f.email.touched) && f.email.errors" class="invalid-feedback">
                            <span *ngIf="f.email.errors.required">Email is required</span>
                            <span *ngIf="f.email.errors.email">Email must be a valid email address</span>
                        </div>
                    </div>
                    <div class="form-group mb-2 position-relative">
                        <input type="number" min="0" class="form-control" maxlength="15" placeholder="Contact No." formControlName="contact"
                            (keypress)="contactkeypress($event)"
                            [ngClass]="{ 'is-invalid': (submitted || f.contact.touched ) && f.contact.errors }">

                        <div *ngIf="(submitted || f.contact.touched )  && f.contact.errors" class="invalid-feedback">
                            <span *ngIf="f.contact.errors.required">Contact Number is required</span>
                        </div>
                    </div>

                    <div class="form-group mb-2 position-relative">
                        <textarea formControlName="message"
                            [ngClass]="{ 'is-invalid': (submitted || f.message.touched ) && f.message.errors }"
                            class="form-control" placeholder="Message" maxlength="100" rows="3"></textarea>
                        <div *ngIf="(submitted || f.message.touched) && f.message.errors" class="invalid-feedback">
                            <span *ngIf="f.message.errors.required">Message is required</span>
                        </div>
                    </div>

                    <input type="hidden" formControlName="validCaptcha">


                    <div class="form-group mb-2 position-relative wrap-captcha">
                        <input type="text" class="form-control" placeholder="Enter captcha here"
                        formControlName="captcha"
                        [ngClass]="{ 'is-invalid': (submitted || f.captcha.touched ) && f.captcha.errors }">

                        <span class="captcha-text">{{ captcha }}</span>
                        <a role="button" (click)="refCaptcha()" title="Refresh Captcha"><i class="fas fa-sync"></i></a>
                    </div>

                 <div class="form-group">
                        <p class="size-12 gdpr-height mb-0 font-300">We are strongly committed to protecting the privacy of personal data
                            which safe-guards our valuable clients, employees and other individuals. In preparation for
                            EU's General Data Protection Regulation (GDPR) that being now enforced; we would like to
                            verify that you are happy to continue receiving sales and marketing communication emails
                            from the our network. By giving your consent, you will then receive relevant sales and
                            marketing communications emails, publications, industry newsletters and invitations from us.
                            You are also being provided with an opportunity to Opt-Out of receiving communications from
                            us within this email. Please read our <a target="_blank" [routerLink]="['/','privacy-policy.html']">“Privacy Notice”</a>
                            that provides further information about how we use, care and protect your personal data.
                        </p>
                    </div>

                    <div class="form-check d-flex mb-3 p-0">
                        <input type="checkbox" required="required" formControlName="confirm"
                            [ngClass]="{ 'is-invalid': submitted && f.confirm.errors }" class="mt-1 form-check-input"
                            id="exampleCheck1">
                        <label class="form-check-label pl-3 size-14" for="exampleCheck1">Yes I Confirm</label>
                    </div>

                    <div *ngIf="(submitted || f.confirm.touched) && f.confirm.errors" class="invalid-feedback">
                        <span *ngIf="f.confirm.errors.required">Confirm is required</span>
                    </div>

                    <!-- <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                      </div> -->


                    <button type="submit" class="text-uppercase red-btn px-4 py-2 size-16">Submit</button>
                </form>
            </div>
            <div class="col-md-7 mt-3 mt-sm-0">
                <h2 class="common-heading red common-heading lightRed move-up delay-1">Request <span class="lightRed">a
                        Demo</span></h2>
                <span class="heading-bottom-line redBg mb-3 move-left"></span>
                <p class="move-up delay-2">Our business consultant will be<br>in touch with you shortly.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Request Demo -->
<!-- Start Address Bar -->
<section class="home-address py-4" *ngIf="showFooterForm==true">
    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <h5>Address</h5>
                        <p>Merino Services Limited<br></p>
                        <p *ngIf="currentLocation">
                            <!-- <img src="{{currentLocation.flag}}" width="30px"> &nbsp; -->
                            {{currentLocation.data.address}}, {{currentLocation. data.country_name}}
                        </p>
                       <!-- <div *ngIf="currentLocation" style="color: white;">
                            <span *ngIf="currentLocation.data.fax !='null'"> Fax : {{currentLocation.data.fax}} </span> &nbsp;&nbsp;
                            <span *ngIf="currentLocation.data.cin_no !='null'"> Cin no : {{currentLocation.data.cin_no}} </span>
                        </div> -->
                    </div>
                    <!-- <div class="col-md-6 mb-3">
                        <h5>Phone</h5>
                        <p><a href="tel:+911145068300">+91 11 45068300</a>, <a href="tel:+911171897301">71897303</a>
                        </p>
                    </div> -->
                    <div class="col-md-6" *ngIf="currentLocation">
                        <h5>Email</h5>
                        <p><a href="mailto:{{currentLocation.data.email}}">{{currentLocation.data.email}}</a></p>
                    </div>
                    <div class="col-md-6 mb-3" *ngIf="currentLocation">
                        <h5>Phone</h5>
                        <p><a href="tel:{{currentLocation.data.phone}}">{{currentLocation.data.phone}}</a></p>
                    </div>

                    <div class="col-md-6 d-none">
                        <h5>Social</h5>
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/merinoservices" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/MerinoServices" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/merino-consulting-services-inc?trk=top_nav_home"
                                    target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.slideshare.net/MerinoService" target="_blank"><i
                                        class="fab fa-slideshare"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Address Bar -->
