<!-- Start Second level Banner -->
 <section class="second-level-banner">
    <div class="img-wrap position-relative">
        <img src="assets/images/Expect-Beyond/banner.jpg" alt="Merino Industries" class="w-100">
    </div>
</section>
<!-- End Second level Banner -->

<!-- Start Customer Demand -->
<section class="py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="common-heading lightRed move-up delay-1">Expect Beyond</h3>
                <span class="heading-bottom-line redBg move-right mb-5"></span>
            </div>
            <div class="col-md-12">
              <h4 class="size-28 mb-1">Consumer expectations drive us to do better.</h4>
              <h3 class="size-34 mb-3 red">When they want big, <span class="lightRed">we create Big enough.</span></h3>
              <p class="size-16">More than a decade has passed since we stepped into the arena of Information Technology. And since then, we have been analyzing consumers, understanding their problems and making them believe in the reality of deploying technology solutions. Perhaps, we may not sound as appealing to our customers as an FMCG retailer, we exactly know what it takes to deploy Enterprise solutions. Furthermore, we understand what problems our customers go through and what they expect from us in response.</p>
              <p class="size-16">We take pride in making things a little easier for businesses, walking on our old school principles of eradicating challenges through PEOPLE, PROCESSES and SERVICES. We make our customers count on us and work round-the-clock to turn their expectations into reality – yep, that's exactly what we are so good at! </p>
            </div>
        </div>
    </div>
</section>
<!-- End Customer Demand -->

<!-- Start Global Team -->
<section class="expect-beyond-Bg py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="yellow move-up delay-1">Boundaries cannot stop us.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 move-up delay-1">
                <div class="">
                    <div class="scroll-content">
                        <p class="size-16 white m-0">Presence across multiple regions, 300+ clients - we have been helping global businesses for years whilst making a reputable place deep in their hearts. Having a keen eye for comprehending universal business problems, we think beyond the consumers’ expectations and provide them the best-in-class technology solutions. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Global Team -->

<!-- Start Global Team -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="black">Every new opportunity comes wrapped in a new challenge. </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 move-up delay-1">
                <div class="">
                    <div class="scroll-content">
                        <p class="size-16 black m-0">Challenges are an inseparable part of our lives. We take the challenges head on, learn from them, and uncover the hidden opportunities lying inside.</p>
                        <p class="size-16 black m-0">From health-check to deployment and then application management, a complete range of services help meet the varied needs of the businesses. Aside from that, we are creative enough to custom design a solution depending on the need of the hour. </p>
                      </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="black">We are focused, with plenty of experience under the belt. </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4 move-up delay-1">
                <div class="">
                    <div class="scroll-content">
                        <p class="size-16 black m-0">13+ years of experience backed by some of the extraordinary minds help us meet even the toughest of the challenges that businesses face today. We sit together with our clients, share a cup of coffee, and go on to scrutinizing the possibilities of making a difference in their businesses.</p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Global Team -->
<app-request-demo> </app-request-demo>
